-- Generate slugs for existing threads using the same logic as the slugify function
UPDATE threads 
SET slug = regexp_replace(lower(regexp_replace(regexp_replace(title, '[^\\w\\s-]', '', 'g'), '[\\s_-]+', '-', 'g')), '^-+|-+$', '', 'g')
WHERE slug IS NULL;
